.main_slider {
    border: 1px solid #000;
    display: block;
    height: 400px;
    max-width: 1400px;
    width: 100%;
}

div{
display:block;

}

.sidebar.left300px {
    float: left;
    width: 270px;
}
.content.left300px {
    margin-left: 300px;
}
.sidebar.right300px {
    background-image: url("/images/recomenduem.jpg");
    float: right;
    height: 555px;
    margin-top: 76px;
    width: 270px;
}
.content.right300px {
    display: block;
    float: left;
    width: 815px;
}
.sidebar p {
    line-height: 1.3em;
}
.breadcrumbs {
    margin-bottom: 20px;
}
div.cart {
    float: left;
    width: 100%;
}
div.cart.fixed {
    box-shadow: 0 -2px 10px -5px rgba(0, 0, 0, 0.7) !important;
    overflow: hidden;
    position: fixed;
    top: 70px;
    z-index: 1312;
}
div.cart.fixed a {
}
.currency-toggle {
    padding-top: 55px;
    position: absolute;
    right: 165px;
}
.features_row {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}
.features_row2 {
    color: #fff;
    padding: 5px;
}
.features_row2 .features {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
    margin-left: 10px;
    width: 49%;
}
.features_row2 .features_val {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    width: 100%;
}
.bonus {
    background: none repeat scroll 0 0 #ceb;
    padding: 2px 4px 1px;
}
.plugin {
    margin-bottom: 20px;
}
.promo.hero.superhero {
    background: none repeat scroll 0 0 #fff;
    margin-top: -15px;
    overflow: hidden;
    padding: 0;
}
.promo a {
    display: block;
    height: 400px;
    position: relative;
}
.promo a .image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.promo a .image .corner.right {
    right: 60px;
}
.promo a .image .corner.top {
    top: 30px;
}
.promo a .image img {
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
}
.promo a .info {
    left: 30px;
    max-width: 60%;
    position: absolute;
    top: 10px;
}
.promo a .info h2 {
    color: #000;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0;
    text-shadow: 0 1px 1px #fff;
}
.promo a .info p {
    color: #222;
    font-size: 1.3em;
    text-shadow: 0 1px 1px #fff;
}
.promo .bx-wrapper {
    margin: 0 auto;
}
.promo .bx-wrapper .bx-viewport {
    border: medium none;
    box-shadow: none;
    left: 0;
}
.promo .bx-wrapper .bx-pager, .promo .bx-wrapper .bx-controls-auto {
    bottom: 20px;
}
.promo .bx-wrapper .bx-controls-direction a {
    display: none;
    opacity: 0.7;
}
.promo:hover .bx-wrapper .bx-controls-direction a {
    display: block;
}
.bxslider li {
    height: 240px;
}
.sub-categories {
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.filters {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
    width: 260px;
}
.filters input[type="text"] {
    font-size: 0.9em;
    text-align: right;
    width: 50px;
}
.tags a {
    color: #000;
    text-decoration: none;
}
.tags.cloud {
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}
ul.skus {
    padding-left: 0;
}
ul.skus li {
    display: block;
    float: left;
    list-style: none outside none;
    width: 240px;
}
.hint{
   font-size:12px; 
}

ul.skus li span, ul.skus li span.hint, ul.skus li .price {
    float: left;
    margin-left: 10px;
}
ul.skus li span.hint {
    width: 50px;
}
ul.menu-h.sorting {
    margin-left: 0;
}
ul.menu-h.sorting li {
    padding-right: 5px;
}
i.sort-desc {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #000;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    display: inline-block;
    height: 0;
    margin-bottom: 0.2em;
    width: 0;
}
i.sort-asc {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000 transparent transparent;
    border-image: none;
    border-right: 4px solid transparent;
    border-style: solid;
    border-width: 4px;
    display: inline-block;
    height: 0;
    margin-top: 0;
    width: 0;
}
.price {
    color: #333;
    font-size:16px;
    font-weight: bold;
}
.compare-at-price {
    color: #999;
    font-size: 14px;
    margin: 0 3px;
    text-decoration: line-through;
}
.out-of-stock {
    color: #a77;
}
.disabled {
    color: #777;
}
.description {
    border: 1px solid #ccc;
    display: block;
    float: left;
    margin-bottom: 20px;
    padding: 10px;
}
.error {
    color: #a33;
}
.rating i.icon16 {
    margin-right: 0.13em;
}
h1 .rating i.icon16 {
    margin-top: 0.37em;
}
table.compare {
    width: 100%;
}
table.compare td {
    line-height: 1em;
    padding: 10px 2px;
    text-align: center;
}
table.compare th {
    text-align: left;
}
table.compare td img {
    display: block;
    margin: 0 auto 10px;
}
ul.thumbs {
    margin: 0;
    padding: 0;
}
ul.thumbs li {
    display: inline-block;
    margin: 0 10px 40px 0;
    padding: 0;
    position: relative;
    vertical-align: top;
}
ul.thumbs img {
    display: block;
    margin-bottom: 2px;
}
ul.thumbs img.overhanging {
    left: -20px;
    position: absolute;
}
ul.thumbs i.icon16.overhanging {
    left: -20px;
    margin: 0;
    position: absolute;
    top: 2px;
}
ul.thumbs i.icon10.overhanging {
    margin-left: -17px;
    margin-right: 7px;
    position: absolute;
}
ul.thumbs input {
    margin: 0 3px 0 0;
}
ul.thumbs.li50px li {
    width: 50px;
}
ul.thumbs.li100px li {
    width: 100px;
}
ul.thumbs.li150px li {
    width: 150px;
}
ul.thumbs.li200px li {
    width: 200px;
}
ul.thumbs.li250px li {
    width: 250px;
}
ul.thumbs.li300px li {
    width: 300px;
}
ul.thumbs.li350px li {
    width: 350px;
}
ul.thumbs li a {
    font-weight: bold;
}
ul.thumbs li p {
    margin-bottom: 0;
}
ul.thumbs li.selected {
}
ul.thumbs li.selected img {
    border: 4px solid #fdda3b;
    border-radius: 4px;
    margin: -4px -2px -2px -4px;
}
ul.thumbs li.highlighted {
    background: inherit;
}
ul.thumbs li.highlighted img {
    box-shadow: 0 0 10px #fe2;
}
table.table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: collapse;
    border-color: #ccc #ccc #fff;
    border-image: none;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    margin-left: -10px;
    margin-top: 25px;
    width: 100%;
    border-bottom:1px solid #ccc;
}
table.table th {
    padding-left: 7px;
    padding-right: 7px;
}
table.table td {
    border-bottom: 1px solid #ddd;
    padding: 15px 7px;
}
table.table td.min-width {
    width: 1%;
}
table.table td p {
    margin: 0;
}
table.table td input.numerical {
    margin-right: 5px;
    text-align: right;
    width: 50px;
}
table.table tr.no-border td {
    border: medium none;
}
table.table tr.thin td {
    padding-bottom: 0;
    padding-top: 13px;
}
table.table tr.service td {
    color: #555;
    font-size: 0.8em;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-top: 5px;
}
.related table.table {
    margin-top: 10px;
}
.related table.table td {
    border: medium none;
    padding: 10px 7px 15px;
}
.related h3 input {
    font-size: 14px;
}
.image {
    display: inline-block;
    max-width: 100%;
    position: relative;
}
.image img {
    height: auto;
    max-width: 100%;
}
.image .corner {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    z-index: 10;
}
.image .corner.top {
    top: -5px;
}
.image .corner.bottom {
    bottom: -5px;
}
.image .corner.left {
    left: -8px;
}
.image .corner.right {
    right: -8px;
}
.image .loading {
    opacity: 0.7;
}
.gallery .image {
}
.badge {
    background: none repeat scroll 0 0 #fff;
    border: 4px double rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    color: #000;
    display: table;
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
    height: 100px;
    padding: 11px 13px 15px;
    transform: rotate(-13deg);
    width: 100px;
}
.badge span {
    display: table-cell;
    line-height: 1.2em;
    text-align: center;
    vertical-align: middle;
}
.badge.new {
    background: none repeat scroll 0 0 #ff4;
    color: #000;
}
.badge.bestseller {
    background: none repeat scroll 0 0 #74ff30;
    color: #030;
}
.badge.low-price {
    background: none repeat scroll 0 0 #ffc2e3;
    color: #300;
}
ul.thumbs .badge {
    font-size: 1.05em;
    height: 70px;
    padding: 2px;
    width: 70px;
}
ul.thumbs .badge span {
    margin-top: 28px;
    overflow: hidden;
    width: 68px;
}
table.table {
    margin: 20px 0;
}
table.table .image {
    margin-right: 10px;
    width: 48px;
}
table.table .badge {
    border: 0 none;
    font-size: 0.8em;
    height: 24px;
    padding: 3px 3px 4px;
    width: 24px;
}
table.table .badge span {
    display: block;
    overflow: hidden;
    padding-left: 3px;
    padding-top: 6px;
    width: 20px;
}
table.cart td {
    padding: 20px 7px 25px;
    vertical-align: top;
}
table.cart td input.qty {
    max-width: 50px;
    text-align: right;
}
table.cart td.total {
    font-size: 1.3em;
}
.options {
    line-height: 1.8em;
}
.services {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}
.add2cart {
}
.product_briff .add2cart {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    display: block;
    float: left;
    padding: 10px 0;
    width: 100%;
}
.compare-at-price {
    display: block;
    margin-top: 6px;
}
.aux {
    font-size: 0.9em;
    padding: 15px;
}
table.features td {
    color: #aaa;
    padding: 1px 0 4px;
}
table.features td.name {
    color: #777;
    min-width: 145px;
    vertical-align: top;
}
.checkout-header {
    color: #999;
    margin: 0 90px;
}
.checkout-header h3 a {
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
}
.checkout-header h3 a:hover {
    color: #a00 !important;
}
.checkout-header strong {
    color: #666;
}


.checkout {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    width:100%;
}

#checkout-contact-form{
    display:block;
    float:left;
    width:100%;
}

.checkout ul.checkout-options {
    display: block;
    float: left;
    padding-left: 0;
    width: 100%;
    
}
.checkout ul.checkout-options li {
     display: block;
    float: left;
    min-height: 200px;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
    width: 120px;
    margin-right:20px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #ccc;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: 25px;
    line-height: 18px;
    padding: 4px;
}

.wa-form .wa-field .wa-value input[type="text"], .wa-form .wa-field .wa-value input[type="email"], .wa-form .wa-field .wa-value input[type="password"]
.checkout ul.checkout-options li h3 {
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 1px;
    width:100%;
}
.checkout ul.checkout-options li h3 label {
 
}
.checkout ul.checkout-options li .rate {
   
    font-size: 12px;
    text-align: center;
    width: 125px;
}
.checkout ul.checkout-options li p {
    width: 120px;
}
.checkout ul.checkout-options li img.method-logo {
    float: left;
    left: 0;
    margin-right: 10px;
    position: relative;
}
.checkout ul.checkout-options li .wa-form {
    margin-bottom: 30px;
    margin-top: 0;
}
.checkout .checkout-result {
    background: none repeat scroll 0 0 #fff;
    padding: 20px 0 60px;
    text-align: center;
}
.checkout .checkout-result h1 {
    font-size: 4em;
    margin-bottom: 50px;
}
.checkout .checkout-result.error h1 {
    color: red;
}
.checkout .checkout-result .wa-form {
    float: none;
    margin: 10px auto 20px;
    text-align: left;
    width: 400px;
}
.checkout .checkout-result .back {
    margin-top: 50px;
}
.checkout .checkout-step {
    border-top: 0 none;
    padding: 0;
}
.checkout .checkout-step h2 {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    display: block;
    float: left;
    font-weight: bold;
    margin: 0;
    width: 100%;
}
.checkout .checkout-step h2 a {
    color: #000;
    text-decoration: none;
}
.checkout .checkout-step h2 a:hover {
    color: #999 !important;
}
.checkout .checkout-step h2.upcoming a:hover {
    color: #000 !important;
    cursor: default;
}
.checkout .checkout-step h2 a.hint {
    color: #aaa;
    font-size: 0.5em;
    text-decoration: underline;
}
.checkout .checkout-step-content {
    background: none repeat scroll 0 0 #fff;
    padding: 20px;
}
.checkout .checkout-step ul.menu-v {
    margin-left: 0;
    margin-top: 20px;
}
.checkout .checkout-step #login-form h1 {
    display: none;
}
.checkout .checkout-step input.large {
     background-color: #111111;
    border-radius: 0;
    color: #FFFFFF;
    float: right;
    font-size: 1em;
    margin-bottom: 20px;
    outline: medium none;
}
.checkout .comment {
    height: 100px;
    margin-bottom: 20px;
    margin-top: 30px;
    resize: none;
    width: 100%;
}
.checkout blockquote img {
    float: left;
    margin-right: 20px;
}
.checkout blockquote p {
    margin-bottom: 10px;
}
.checkout blockquote p span {
    color: #000;
}
.checkout .checkout-step-content .float-right {
    float: none;
    text-align: center;
}
.checkout .checkout-step-content .float-right input.large {
    background-image: url("/images/order.png");
    background-position: 30px 0;
    background-repeat: no-repeat;
    border: medium none;
    float: none;
    height: 40px;
    width: 173px;
}
.checkout .checkout-step-content .float-right input.large:hover {
    opacity:0.7;
}
.write-review {
    margin: 30px 0 40px;
}
.review .summary {
    color: #555;
    display: block;
    float: left;
    font-size: 0.9em;
    height: 40px;
    margin-right: 15px;
    text-align: left;
    width: 110px;
}
.review p {
    line-height: 1.3em;
    margin-bottom: 5px;
    margin-top: 5px;
}
.review .actions a {
    display: none;
    padding: 0 !important;
}
.reviews {
    margin-bottom: 20px;
}
.reviews ul {
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0;
    width: 780px;
}
.reviews ul li ul {
    padding-left: 25px;
}
.reviews ul li ul li .review h6 {
    color: #555;
}
.reviews ul li {
    height: auto;
    padding: 0;
    width: 800px;
}
.reviews ul li .review-form textarea {
    resize: none;
}
.reviews ul.menu-h.auth-type {
    margin-left: -5px;
    padding: 0 0 40px;
}
.reviews ul.menu-h.auth-type li {
    padding-right: 10px;
}
.reviews ul.menu-h.auth-type li a {
    padding: 5px 6px;
}
.reviews ul.menu-h.auth-type li a img {
    top: 0;
}
.reviews textarea {
    height: 100px;
    margin-top: 0;
    min-height: 100px;
    resize: none;
    width: 75%;
}
.review-form h4 {
    font-weight: normal;
    margin: 0 0 20px;
}
.review-form-fields p {
    margin: 0 0 10px;
}
.review-form-fields p.review-field a {
    display: inline;
    padding: 0;
    text-decoration: none;
}
.review-form-fields label {
    clear: left;
    color: #aaa;
    display: block;
    float: left;
    
    width: 160px;
}
.review-form-fields input[type="text"] {
    width: 20em;
}
.review-form textarea {
    border: medium none;
    display: block;
    float: left;
    margin: 0;
    min-height: 120px;
    min-width: 100%;
    padding: 0;
    position: relative;
}
.review-form .review-submit {
    padding: 0 10px;
}
.review-form .userpic {
    float: left;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}
.review-form ul.menu-h.auth-type li a img {
    float: left;
    margin-right: 3px;
    position: relative;
    top: 2px;
}
.review-form ul.menu-h.auth-type {
    padding-bottom: 20px;
}
.review-form label {
    clear: left;
    color: #aaa;
    display: block;
    float: left;
   
}
.reviews span.rate {
    display: block;
    line-height: 1.3em;
    margin: 0.5em 0;
}
.reviews span.rate a {
    text-decoration: none !important;
}
.reviews span.rate .icon10 {
    background-image: url("../../../../wa-content/img/icon10.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    text-indent: -9999px;
    width: 10px;
}
.reviews span.rate .icon10.star {
    background-position: -60px -40px;
}
.reviews span.rate .icon10.star-empty {
    background-position: -80px -40px;
}
input.error, textarea.error {
    border: 2px solid red;
}
.errormsg {
    color: red;
    display: block;
    margin-left: 170px;
}
.order-status {
    color: #fff;
    padding: 2px 5px;
}
h1 .order-status {
    font-size: 0.75em;
    margin-left: 10px;
}
.icon16.star, .icon16.star-full {
    background-image: url("img/icons.png");
    background-position: -16px 0;
}
.icon16.star-half {
    background-image: url("img/icons.png");
    background-position: -32px 0;
}
.icon16.star-empty {
    background-image: url("img/icons.png");
    background-position: -48px 0;
}
.icon16.star-hover {
    background-image: url("img/icons.png");
    background-position: -64px 0;
}
.icon10.star, .icon10.star-full {
    background-image: url("img/icons.png");
    background-position: 0 -16px;
}
.icon10.star-half {
    background-image: url("img/icons.png");
    background-position: -10px -16px;
}
.icon10.star-empty {
    background-image: url("img/icons.png");
    background-position: -20px -16px;
}
.icon16.remove {
    background-image: url("img/icons.png");
    background-position: -96px 0;
}
.icon16.saved {
    background-image: url("img/icons.png");
    background-position: -112px 0;
}
.icon16.stock-red {
    background-image: url("img/icons.png");
    background-position: -128px 0;
}
.icon16.stock-yellow {
    background-image: url("img/icons.png");
    background-position: -144px 0;
}
.icon16.stock-green {
    background-image: url("/images/icons.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 4px;
    margin-right: 5px;
    margin-top: 6px;
    width: 4px;
}
.icon16.stock-transparent {
    background-image: url("img/icons.png");
    background-position: -176px 0;
}
.icon16.loading {
    background-image: url("img/loading16.gif");
    background-position: 0 0;
}
.top_bar {
    display: block;
    height: 35px;
}
.param {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.add_compare {
    display: block;
    float: left;
    margin: 0 0 10px;
}
.add_compare a:link, .add_compare a:visited {
    color: #444;
    font-size: 10px;
}
#share42 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 0 0 6px;
}
#share42:hover {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 5px #ddd;
}
#share42 a {
    opacity: 0.5;
}
#share42:hover a {
    opacity: 0.7;
}
#share42 a:hover {
    opacity: 1;
}
#share42 a {
    position: relative;
}
#share42 a span {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    color: #666;
    display: none;
    font: 12px/20px Arial,sans-serif;
    height: 19px;
    left: 100%;
    margin-left: 5px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 10;
}
#share42 a:hover span {
    display: block;
}
#share42 a span:before {
    background: url("data:image/gif;base64,R0lGODlhBQAHAJEDAKqqqsnJyf///////yH5BAEAAAMALAAAAAAFAAcAAAIMnBEXMijiXlts1lkAADs=") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 7px;
    left: -5px;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    width: 5px;
}
.order_btn {
    height: 35px;
}
.hint1 {
    color: #333;
    display: block;
    float: left;
    margin-top: 5px;
}
.login_b {
    background-image: url("/images/login_button.jpg");
    background-position: 0 40px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    margin-right: 100px;
    padding: 10px;
    text-align: center;
    width: 93px;
}
.count_opt{
    display:block;
    float:left;
    margin-top:20px;
    width:400px;
}

.count_opt input{
    width:35px;
}